html {
            scroll-behavior: smooth;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #333;
            color: #fff;
            margin: 0;
            padding: 0;
        }

        .box {
            background-color: #444;
            border: 1px solid #888;
            width: 100%;
            margin: 20px 0;
            padding: 10px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .header {
            font-size: 24px;
            text-align: center;
            margin-bottom: 10px;
        }

        .button {
            width: 50%;
            padding: 8px;
            margin-bottom: 5px;
            background-color: #4CAF50;
            color: #464646;
            border: none;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
        }

        .unit-quiz-button {
            width: 100%;
            background-color: #4CAF50;
            color: #fff;
            border: none;
            cursor: pointer;
            padding: 12px;
            text-align: center;
            text-decoration: none;
            display: block;
            font-size: 18px;
            margin-bottom: 10px;
        }
        body {
            font-family: Arial, sans-serif;
            background-color: #333;
            color: #fff;
            margin: 0;
            padding: 20px;
        }

        .quiz {
            margin-bottom: 20px;
        }

        .question {
            font-size: 20px;
            margin-bottom: 10px;
        }

        .choice-button {
            margin-bottom: 5px;
            display: block;
        }

        .marker {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #4CAF50;
            display: inline-block;
            margin-right: 5px;
            border: 1px solid #fff;
            cursor: pointer;
        }

        .check-answer-button {
            background-color: #4CAF50;
            color: #fff;
            border: none;
            cursor: pointer;
            padding: 8px 16px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            float: right;
        }